/* CSS per il gioco degli scacchi */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameboard {
  width: 480px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.square {
  width: 60px;
  height: 60px;
  position: relative;
}

/* Dimensione dei pezzi degli scacchi */
.square svg {
  height: 50px;
  width: 50px;
  margin: 5px;
  position: relative;
  z-index: -9;
}

path {
  position: relative;
  z-index: -10;
}

/* mette il pezzo sempre prima in hover */
.piece {
  position: relative;
  z-index: 9;
}

/* Colore delle caselle chiare */
.beige {
  background-color: #F0D9B5;
}

/* Colore delle caselle scure */
.brown {
  background-color: #B58863;
}

/* Colore dei pezzi neri */
.black {
  fill: black;
}

/* Colore dei pezzi bianchi */
.white {
  fill: white;
}

/* Stili per i paragrafi */
p {
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin: 0;
}