/* CSS per il gioco degli scacchi */
#gameboard {
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 40px;
  height: 40px;
}

/* Dimensione dei pezzi degli scacchi */
.square svg {
  height: 30px;
  width: 30px;
  margin: 5px;
}

/* Colore delle caselle chiare */
.beige {
  background-color: #F0D9B5;
}

/* Colore delle caselle scure */
.brown {
  background-color: #B58863;
}

/* Colore dei pezzi neri */
.black {
  fill: black;
}

/* Colore dei pezzi bianchi */
.white {
  fill: white;
}